html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
    background-color: #e6f2e6;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #2e7d32;
  }
  
  .navbar-brand i {
    color: white;
    font-size: 21px;
  }
  
  .navbar .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: #c8e6c9;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 32px auto;
    max-width: 800px;
  }

  .emptyDiv {
    flex: 1
  }
  
  .postCard {
    width: 100%;
    margin-bottom: 24px;
    border: 2px solid #66bb6a;
    box-shadow: 0 4px 6px rgba(46, 125, 50, 0.2);
    border-radius: 12px;
  }
  
  .postCard .card-title {
    color: #2e7d32;
    font-weight: bold;
  }
  
  .postCard .card-text {
    color: #4caf50;
  }
  
  .modal-content {
    border-radius: 15px;
    background-color: #f0fff0;
  }
  
  .modal-header {
    background-color: #2e7d32;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .modal-footer {
    background-color: #e6f2e6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .form-label {
    color: #2e7d32;
    font-weight: 500;
  }
  
  footer {
    background-color: #2e7d32;
    color: #ffffff;
  }
  
  #navTitle {
    color: white;
  }
  
  .navbar-toggler {
    border-color: white;
  }


  #noPostsMessage {
    color: white;
    font-size: 24px;
    margin-top: 32px;
  }
  
#golfTipContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

#golfTipContainer h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #286a2b;
  font-weight: bold;
  margin-top: 10px;
}
#golfTipContainer h2 {
  color:#286a2b;
  margin-top: 20px;
}

#golfTipContainer p {
  color: #4caf50;
}